@model ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
@using Nop.Plugin.Widgets.BlankTable.Models

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))
<form asp-controller="BlankTable" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                @(await Html.LocalizedEditorAsync<ConfigurationModel, ConfigurationModel.ConfigurationLocalizedModel>("plugin-settings-localized",
                @<div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="DescriptionText_OverrideForStore" asp-input="@Model.Locales[item].DescriptionText" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="@Model.Locales[item].DescriptionText" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Locales[item].DescriptionText" />
                            <span asp-validation-for="@Model.Locales[item].DescriptionText"></span>
                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                </div>
                ,
                @<div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="DescriptionText_OverrideForStore" asp-input="DescriptionText" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="DescriptionText" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DescriptionText" />
                            <span asp-validation-for="DescriptionText"></span>
                        </div>
                    </div>
                </div>
                ,
                //localizable settings per store (overridden store settings) are not supported yet
                true
                ))
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="EnableDashboardWidget_OverrideForStore" asp-input="EnableDashboardWidget" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnableDashboardWidget" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnableDashboardWidget" />
                        <span asp-validation-for="EnableDashboardWidget"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="InstallSampleData_OverrideForStore" asp-input="InstallSampleData" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="InstallSampleData" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="InstallSampleData" />
                        <span asp-validation-for="InstallSampleData"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T(Common.Labels.Save)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>