@model EmployeeModel

@using Nop.Plugin.Widgets.HumanResource.Core.Domains.HumanResource;
@using Nop.Plugin.Widgets.HumanResource.Infrastructure

@{
    //page title
    ViewBag.PageTitle = T(EmployeeModel.Labels.EditEmployeeDetails).Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName(EmployeeSearchModel.SYSTEM_NAME);
}

<form asp-controller="Employee" asp-action="Edit" method="post" id="employee-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T(EmployeeModel.Labels.EditEmployeeDetails) - @Model.Name
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T(EmployeeModel.Labels.BackToList)</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T(Common.Labels.Save)
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T(Common.Labels.SaveContinue)
            </button>
            <span id="employee-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T(Common.Labels.Delete)
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = PluginWidgetZones.EmployeeDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync(EmployeeModel.CREATE_OR_UPDATE_VIEW, Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="employee-delete" />